<template>
    <v-container fluid fill-height style="display:flex; flex-direction: row; align-items: stretch; flex-wrap: nowrap">
        
        <div style="flex-grow: 1; flex-shrink: 1; display:flex; flex-basis: 0; flex-direction:column;">
            <div 
                style="flex-shrink: 1; flex-grow: 1; flex-basis: 0; overflow: hidden"
                ref="visible_timeline_zone"
            >
                <div
                    :style="{
                        'margin-top': `${timeline_scroll_top}px`,
                        'margin-left': `-${lateral_position_offset}px`,
                        'margin-right': `${lateral_position_offset}px`,
                    }"
                    ref="time_line"
                >
                    <timeline-element 
                        :status_filter_list="sequence_list[seqeuence_index].status_filter_list"
                        :number_max_items_display="number_max_items_display"
                        class="mx-7"
                    />
                </div>

            </div>
        </div>

        <div style="flex-grow: 1; flex-shrink: 1; flex-basis: 0; align-items: center; justify-content: center; display:flex;">                

            <div style="width: 80%; height: 80%;">


            <v-container>
                <v-row>
                    <v-col>
                        <h1 class="text-h3 ma-4 mx-0 mt-0 mb-1" style="color: #5e81f4;  text-align:right">Quelques news</h1>
                        <h1 class="text-h5 mx-0 mp-1" style="color: #5e81f4;  text-align:right" >de l'équipe de développement</h1>
                        <h1 class="text-h6 mx-0 mp-1" style="color: #5e81f4;  text-align:right" >Sprint actuel: <strong>{{ current_milestone.title }}</strong></h1>    
                    </v-col>


                    <v-col class="col-3">
                        <qrcode-vue class="mt-2" :value="url_value" foreground="#5e81f4" size="125"></qrcode-vue>
                    </v-col>

                </v-row>
            </v-container>

                <div 
                    :style="{
                        'margin-left': `${lateral_position_offset}px`,
                        'margin-right': `-${lateral_position_offset}px`,
                    }"
                >
                    <v-sheet
                        color="white"
                        elevation="1"
                        width="100%"
                        class="mt-7 py-5"
                    >

                    <template v-if="sequence_list[seqeuence_index].text_slide == 'DOING'">
                        <h1 class="text-h4 mx-5" style="color: #131336">Sujets en cours de développement</h1>
                        <p class="text-h5 ma-4 mt-8">Dans cette timeline les sujets actuellement <strong>en cours de développement</strong> ou de <strong>relecture téchnique</strong>.</p>
                        
                        <div class="ml-7">
                            <div class="mb-2">
                                <v-btn
                                    fab
                                    x-small
                                    :color="STATUS.IN_PROGRESS.background_color"
                                >
                                    <v-icon :color="STATUS.IN_PROGRESS.color">
                                        {{ STATUS.IN_PROGRESS.icon }}
                                    </v-icon>
                                </v-btn> 
                                <span>
                                    {{ STATUS.IN_PROGRESS.translation }}
                                </span>
                            </div>
                            <div class="mb-2">
                                <v-btn
                                    fab
                                    x-small
                                    :color="STATUS.PR.background_color"
                                >
                                    <v-icon :color="STATUS.PR.color">
                                        {{ STATUS.PR.icon }}
                                    </v-icon>
                                </v-btn> 
                                <span>
                                    {{ STATUS.PR.translation }}
                                </span>
                            </div>
                        </div>

                        <p class="text-h5 ma-4 mt-8">Les sujets de cette timeline seront prochainement soumis à l'équipe MOA pour tests fonctionnels</p>
                    </template>

                    <template v-if="sequence_list[seqeuence_index].text_slide == 'SOON'">
                        <h1 class="text-h4 mx-5" style="color: #131336">Bientôt en production</h1>
                        <p class="text-h5 ma-4 mt-8">Dans cette timeline les sujets dont le <strong>développement est terminé</strong>, en <strong>recette</strong> et <strong>prêts pour la production</strong></p>
                        
                        <div class="ml-7">
                            <div class="mb-2">
                                <v-btn
                                    fab
                                    x-small
                                    :color="STATUS.TECH_DONE.background_color"
                                >
                                    <v-icon :color="STATUS.TECH_DONE.color">
                                        {{ STATUS.TECH_DONE.icon }}
                                    </v-icon>
                                </v-btn> 
                                <span>
                                    {{ STATUS.TECH_DONE.translation }}
                                </span>
                            </div>
                            <div class="mb-2">
                                <v-btn
                                    fab
                                    x-small
                                    :color="STATUS.TO_TEST.background_color"
                                >
                                    <v-icon :color="STATUS.TO_TEST.color">
                                        {{ STATUS.TO_TEST.icon }}
                                    </v-icon>
                                </v-btn> 
                                <span>
                                    {{ STATUS.TO_TEST.translation }}
                                </span>
                            </div>
                            <div class="mb-2">
                                <v-btn
                                    fab
                                    x-small
                                    :color="STATUS.DONE.background_color"
                                >
                                    <v-icon :color="STATUS.DONE.color">
                                        {{ STATUS.DONE.icon }}
                                    </v-icon>
                                </v-btn> 
                                <span>
                                    {{ STATUS.DONE.translation }}
                                </span>
                            </div>
                        </div>
                        
                        
                        <p class="text-h6 ma-4 mt-8">Les sujet dont le <strong>développement est terminé</strong> doivent encore être testés par la MOA. Les sujets <strong>prêts pour la prod</strong> font généralement partie de la prochaine livraison</p>
                    </template>

                    <template v-if="sequence_list[seqeuence_index].text_slide == 'DEPLOYED'">
                        <h1 class="text-h4 mx-5" style="color: #131336">Sujets fraichement déployés</h1>
                        <p class="text-h5 ma-4 mt-8">Découvrez dans cette timeline les <strong>derniers sujets déployés</strong> en production et accessibles à nos clients</p>
                        <div class="ml-7">
                            <div>
                                <v-btn
                                    fab
                                    x-small
                                    :color="STATUS.DEPLOYED.background_color"
                                >
                                    <v-icon :color="STATUS.DEPLOYED.color">
                                        {{ STATUS.DEPLOYED.icon }}
                                    </v-icon>
                                </v-btn> 
                                <span>
                                    {{ STATUS.DEPLOYED.translation }}
                                </span>
                            </div> 
                        </div> 

                    </template>
                    
                    
                    </v-sheet>
                </div>


            </div>
        </div>
    </v-container>
</template>

<script>

import TimelineElement from '@/components/elements/TimelineElement'
import { mapGetters } from 'vuex'
import QrcodeVue from 'qrcode.vue'
import { configuration } from '@/configurations'
import { STATUS } from '@/constants'

export default {
    name: 'MainDisplay',
    components: {
        TimelineElement,
        QrcodeVue,
    },
    data: () => ({

        // Configuration
        number_max_items_display: 10,

        url_value: '',
        timeline_scroll_top: 0,
        lateral_position_offset: 0,
        seqeuence_index: 0,
        sequence_list: [
            {
                status_filter_list: [
                    'In Progress',
                    'Technical Review (PR)'
                ],
                text_slide: 'DOING',
            },
            {
                status_filter_list: [
                    'Done',
                    'Technical Done',
                    'Merged (To test)',
                ],
                text_slide: 'SOON',
            },
            {
                status_filter_list: [
                    'Deployed',
                ],
                text_slide: 'DEPLOYED',
            },
        ],
        current_milestone: {},
        STATUS,
    }),
    async mounted() {
        this.current_milestone = this.currentMilestone
        this.url_value = `${configuration.URL}/mobile?token=${this.token}`
        await this.animationSequence()
    },
    computed: {
        ...mapGetters({
            currentMilestone: 'currentMilestone',
            token: 'getToken',
        }),
    },
    methods: {

        async animationSequence() {
            await this.animateSleep(2000)
            await this.animateScrollTimeline(2, 23)
            await this.animateSleep(2000)
            
            await this.animateLateralMoveOut(15, 4)
            this.timeline_scroll_top = 0
            // Change slide
            if (this.seqeuence_index < (this.sequence_list.length - 1)) {
                this.seqeuence_index++
            } else {
                this.seqeuence_index = 0
            }
            await this.animateLateralMoveIn(15, 4)

            // Loop
            await this.animationSequence()
        },

        animateScrollTimeline(step_px = 1, interval_milis = 10) {
            return new Promise((resolve) => {
                let height = null;
                let visible_height = null;
                let interval_handler = setInterval(() => {
                    this.timeline_scroll_top -= step_px
                    height = this.$refs.time_line.clientHeight
                    visible_height = this.$refs.visible_timeline_zone.clientHeight
                    if ((height + this.timeline_scroll_top) < visible_height) {
                        clearInterval(interval_handler);
                        return resolve()
                    }
                }, interval_milis)
            })
        },

        animateSleep(time_milis) {
            return new Promise((resolve) => {
                setTimeout(() => resolve(), time_milis)
            })
        },

        animateLateralMoveOut(step_px = 1, interval_milis = 10) {
            return new Promise((resolve) => {
                let visible_width = null;
                const interval_handler = setInterval(() => {
                    this.lateral_position_offset += step_px
                    visible_width = this.$refs.visible_timeline_zone.clientWidth
                    if (this.lateral_position_offset > visible_width) {
                        clearInterval(interval_handler);
                        return resolve()
                    }
                }, interval_milis)
            })
        },

        animateLateralMoveIn(step_px = 1, interval_milis = 10) {
            return new Promise((resolve) => {
                const interval_handler = setInterval(() => {
                    this.lateral_position_offset -= step_px
                    if (this.lateral_position_offset <= 0) {
                        clearInterval(interval_handler);
                        return resolve()
                    }
                }, interval_milis)
            })
        }
    }
}
</script>
