<template>
    <div>
        <v-app-bar        
            fixed
            color="white"
            elevate-on-scroll
        >
            <v-spacer></v-spacer>

            <v-btn rounded class="mx-1" @click="seqeuence_index = 0" :outlined="seqeuence_index == 0" elevation="1">
                <v-icon left>mdi-hammer-wrench</v-icon>
                en cours
            </v-btn>

            <v-btn rounded class="mx-1" @click="seqeuence_index = 1" :outlined="seqeuence_index == 1" elevation="1">
                <v-icon left>mdi-check-outline</v-icon>
                Prets
            </v-btn>

            <v-btn rounded class="mx-1" @click="seqeuence_index = 2" :outlined="seqeuence_index == 2" elevation="1">
                <v-icon left>mdi-cloud-check-outline</v-icon>
                Livrés
            </v-btn>

            <v-spacer></v-spacer>

        </v-app-bar>

        <v-container class='mt-15'>
            <timeline-element 
                :status_filter_list="sequence_list[seqeuence_index].status_filter_list"
                class="mx-7"
            />
        </v-container>
    </div>
</template>

<script>

import TimelineElement from '@/components/elements/TimelineElement'
import goTo from 'vuetify/lib/services/goto'

export default {
    name: 'MobileDisplay',
    components: {
        TimelineElement,
    },
    data: () => ({
        seqeuence_index: 0,
        sequence_list: [
            {
                status_filter_list: [
                    'In Progress',
                    'Technical Review (PR)'
                ],
                text_slide: 'DOING',
            },
            {
                status_filter_list: [
                    'Done',
                    'Technical Done',
                    'Merged (To test)',
                ],
                text_slide: 'SOON',
            },
            {
                status_filter_list: [
                    'Deployed',
                ],
                text_slide: 'DEPLOYED',
            },
        ],
        current_milestone: {},
    }),
    watch: {
        seqeuence_index() {
            goTo(0);
        }
    }
}
</script>
