<template>
    <v-timeline
        :dense="$vuetify.breakpoint.smAndDown"
    >
        <v-timeline-item
            v-for="ticket in display_ticket_list"
            :key="ticket.id"
            :color="getBackgroundIconColor(ticket.status)"
        >
            <template v-slot:icon>
                <v-icon :color="getIconColor(ticket.status)">
                    {{ getIcon(ticket.status) }}
                </v-icon>
            </template>

            <span v-if="true" slot="opposite" class="text-body-2">
                {{ ticket.updated_at | humanizeDate }}
                <v-chip x-small color="#5e81f4" v-if="isNew(ticket.updated_at)">
                    new
                </v-chip>
            </span>
            <v-card class="elevation-2">
                <v-card-title v-if="true" class="subtitle-2">
                    {{ ticket.summary }}
                </v-card-title>
                <v-card-text>
                    
                    {{ ticket.milestone_name }}
                    <v-chip small class="ml-2">
                            {{ getTranslation(ticket.status) }}
                    </v-chip>
                </v-card-text>
            </v-card>
        </v-timeline-item>

        <v-timeline-item
            v-if="ticket_list.filter((ticket) => status_filter_list.includes(ticket.status)).length > number_max_items_display"
            key="others"
            color="#5e81f4"
        >
            <template v-slot:icon>
                <v-icon color="#fff">
                    mdi-star
                </v-icon>
            </template>

            <v-card class="elevation-2">
                <v-card-title v-if="true" class="subtitle-2">
                    et {{ ticket_list.filter((ticket) => status_filter_list.includes(ticket.status)).length - number_max_items_display }} autre(s) sujet(s)
                </v-card-title>
            </v-card>
        </v-timeline-item>
    </v-timeline>
</template>

<script>

import { mapGetters } from 'vuex'
import moment from 'moment'
import { STATUS_LIST, STATUS, COLOR } from '@/constants'

export default {
    name: 'TimelineElement',

    props: {
        status_filter_list: Array,
        number_max_items_display: Number,
    },
    data: () => ({
        STATUS,
        STATUS_LIST,
        COLOR,
    }),
    computed: {
        ...mapGetters({
            ticket_list: 'ticketList',
        }),
        display_ticket_list() {
            const display_list = this.ticket_list
                .filter((ticket) => this.status_filter_list
                .includes(ticket.status))
                
            if (this.number_max_items_display) {
                return display_list.slice(0, this.number_max_items_display)
            }

            return display_list
        },
    },
    methods: {
        isNew(date) {
            const minutes = moment
                .duration(
                    moment(new Date()).diff(moment(date))
                ).asMinutes()
            return minutes < 15
        },
        getIcon(status) {
            const found_status = STATUS_LIST.find((st) => status === st.name)
            if (found_status === undefined) {
                return 'mdi-star'
            }
            return found_status.icon ? found_status.icon : 'mdi-star'
        },
        getIconColor(status) {
            const found_status = STATUS_LIST.find((st) => status === st.name)
            if (found_status === undefined) {
                return COLOR.DEFAULT_ICON
            }
            return found_status.color ? found_status.color : COLOR.DEFAULT_ICON
        },
        getBackgroundIconColor(status) {
            const found_status = STATUS_LIST.find((st) => status === st.name)
            if (found_status === undefined) {
                return COLOR.DEFAULT_ICON_BACKGROUND
            }
            return found_status.background_color ? found_status.background_color : COLOR.DEFAULT_ICON_BACKGROUND
        },
        getTranslation(status) {
            const found_status = STATUS_LIST.find((st) => status === st.name)
            if (found_status === undefined) {
                return status
            }
            return found_status.translation ? found_status.translation : status
        }
    }
}
</script>
