<template>
  <v-app :style="{background: '#f0f0f7'}">


    <v-main v-if="!show_loader">
      <router-view />
    </v-main>


    <v-container v-if="show_loader" fluid fill-height align-center>
      <v-flex>
          <v-flex class="d-flex justify-center">
              <v-progress-circular
                  :size="170"
                  :width="20"
                  color="#5e81f4"
                  indeterminate
              ></v-progress-circular>
          </v-flex>
      </v-flex>
    </v-container>

  </v-app>
</template>

<script>

import { mapActions } from 'vuex'
import { configuration } from './configurations'

export default {
    name: 'App',
    data: () => ({
        show_loader: true,
    }),
    async mounted() {
        const space_id = configuration.ASSAMBLA_SPACE_ID
            ? configuration.ASSAMBLA_SPACE_ID
            : 'bXqO74QNir54k9acwqEsg8'

        try {
            const token = this.parseUrlToken()

            await this.init({
                token,
                space_id,
            })
            this.show_loader = false
        } catch (error) {
            console.error(error);
        }
    },
    methods: {
        ...mapActions({
            init: 'init',
        }),

        parseUrlTokenData() {
            let uri = window.location.search.substring(1)
            let params = new URLSearchParams(uri)
            const token = params.get("token")
            const data_string = Buffer.from(token, 'base64').toString('utf8')
            const {
                client_id,
                client_secret,
            } = JSON.parse(data_string)

            return {
                client_id,
                client_secret,
            }
        },

        parseUrlToken() {
            let uri = window.location.search.substring(1)
            let params = new URLSearchParams(uri)
            return params.get('token')
        },
    }
};

</script>

<style>
body {
    background-color: #f0f0f7;
}
</style>

